@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border-radius: 50px;
  background: linear-gradient(145deg, #eadcd5, #c5b9b3);
  box-shadow: 20px 20px 60px #baafa9,
    -20px -20px 60px #fcede5;
}

.btn:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #c5b9b3, #eadcd5);
  box-shadow: 20px 20px 60px #baafa9,
    -20px -20px 60px #fcede5;
}